.start{
    background-color: #30a32c7a;
    width: 550px;
    height: 450px;
    font-weight: bold;
    color:black;
    border-radius: 40px;
    padding: 20px;
    
}

.meio{
    background-color: #44FF3D;
    width: 500px;
    height: 55%;
    border-radius: 30px;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin: 10px auto;
    text-align: center;
}

.titulo-menu{
    font-size: 4em;
    text-align: center;
    padding: auto;
    margin: auto;
    color:black;
    margin-top: 10px;
}
